<footer class="footer" id="mapFooter">
    <div class="container">
        <div class="footer_container">
        <span id="footerLogo">
            <a href="/">
                <img src="./img/logo_USFQ_footer.png" alt="USFQ footer logo">
            </a>
        </span>
        <p id="usfqDescription">
	        Universidad San Francisco de Quito
            <br>
            Diego de Robles y Vía Interoceánica
            <br>						
            <a href="tel:+593-2-297-1700">
				+593 2 297 1700
			</a>
        </p>
    </div>
    <div class="copyright">
        <p>
            <span>
                <a id="ctl00_ctl64_ExplicitLogin" class="ms-signInLink" href="https://www.usfq.edu.ec/contacto/_layouts/15/Authenticate.aspx?Source=%2Fcontacto%2FPaginas%2Fmapa%2Easpx" style="display:inline-block;">Inicio de sesión</a>
            </span>

            |

            Copyright © 2014 Universidad San Francisco de Quito

        </p>
    </div>
    </div>
</footer>